## Audit Task

## EDA

In [1]:
import pandas as pd

In [2]:
audit = pd.read_csv("data.csv")

In [3]:
audit.head()

,Sector_score,LOCATION_ID,PARA_A,SCORE_A,PARA_B,SCORE_B,TOTAL,numbers,Marks,Money_Value,MONEY_Marks,District,Loss,LOSS_SCORE,History,History_score,Score,Risk
0,3.89,23,4.18,6,2.50,2,6.68,5.0,2,3.38,2,2,0,2,0,2,2.4,1
1,3.89,6,0.00,2,4.83,2,4.83,5.0,2,0.94,2,2,0,2,0,2,2.0,0
2,3.89,6,0.51,2,0.23,2,0.74,5.0,2,0.00,2,2,0,2,0,2,2.0,0
3,3.89,6,0.00,2,10.80,6,10.80,6.0,6,11.75,6,2,0,2,0,2,4.4,1
4,3.89,6,0.00,2,0.08,2,0.08,5.0,2,0.00,2,2,0,2,0,2,2.0,0

In [4]:
audit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sector_score   773 non-null    float64
 1   LOCATION_ID    773 non-null    int64
 2   PARA_A         773 non-null    float64
 3   SCORE_A        773 non-null    int64
 4   PARA_B         773 non-null    float64
 5   SCORE_B        773 non-null    int64
 6   TOTAL          773 non-null    float64
 7   numbers        773 non-null    float64
 8   Marks          773 non-null    int64
 9   Money_Value    772 non-null    float64
 10  MONEY_Marks    773 non-null    int64
 11  District       773 non-null    int64
 12  Loss           773 non-null    int64
 13  LOSS_SCORE     773 non-null    int64
 14  History        773 non-null    int64
 15  History_score  773 non-null    int64
 16  Score          773 non-null    float64
 17  Risk           773 non-null    int64
dtypes: float64(7), int64(11)
memory usage: 108.8 KB

In [5]:
audit['Risk'].value_counts()

1    486
0    287
Name: Risk, dtype: int64

In [6]:
audit.describe()

,Sector_score,LOCATION_ID,PARA_A,SCORE_A,PARA_B,SCORE_B,TOTAL,numbers,Marks,Money_Value,MONEY_Marks,District,Loss,LOSS_SCORE,History,History_score,Score,Risk
count,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,772.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000
mean,20.255149,14.856404,2.457983,3.518758,10.841903,3.135834,13.268062,5.067917,2.238034,14.191093,2.913325,2.507115,0.029754,2.062096,0.104787,2.168176,2.705304,0.628719
std,24.339709,9.891317,5.688509,1.741366,50.176308,1.699869,51.406241,0.264928,0.804941,66.730436,1.599544,1.230659,0.184628,0.375788,0.532022,0.681108,0.859470,0.483460
min,1.850000,1.000000,0.000000,2.000000,0.000000,2.000000,0.000000,5.000000,2.000000,0.000000,2.000000,2.000000,0.000000,2.000000,0.000000,2.000000,2.000000,0.000000
25%,2.370000,8.000000,0.210000,2.000000,0.000000,2.000000,0.540000,5.000000,2.000000,0.000000,2.000000,2.000000,0.000000,2.000000,0.000000,2.000000,2.000000,0.000000
50%,3.890000,13.000000,0.880000,2.000000,0.410000,2.000000,1.390000,5.000000,2.000000,0.090000,2.000000,2.000000,0.000000,2.000000,0.000000,2.000000,2.400000,1.000000
75%,55.570000,19.000000,2.480000,6.000000,4.160000,4.000000,7.760000,5.000000,2.000000,5.630000,4.000000,2.000000,0.000000,2.000000,0.000000,2.000000,3.400000,1.000000
max,59.850000,44.000000,85.000000,6.000000,1264.630000,6.000000,1268.910000,9.000000,6.000000,935.030000,6.000000,6.000000,2.000000,6.000000,9.000000,6.000000,5.200000,1.000000

## Train - Test Splitting

In [7]:
from sklearn.model_selection import train_test_split
train_set, test_set  = train_test_split(audit, test_size=0.2, random_state=42)
print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}\n")

Rows in train set: 618
Rows in test set: 155

In [8]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(audit, audit['Risk']):
    strat_train_set = audit.loc[train_index]
    strat_test_set = audit.loc[test_index]

In [9]:
strat_test_set['Risk'].value_counts()

1    97
0    58
Name: Risk, dtype: int64

In [10]:
strat_train_set['Risk'].value_counts()

1    389
0    229
Name: Risk, dtype: int64

## Correlations

In [11]:
corr_matrix = audit.corr()
corr_matrix['Risk'].sort_values(ascending=False)

Risk             1.000000
SCORE_A          0.670660
Score            0.631029
SCORE_B          0.513811
MONEY_Marks      0.439069
District         0.316864
PARA_A           0.291669
Marks            0.227394
numbers          0.197131
TOTAL            0.190184
History_score    0.189868
PARA_B           0.162267
Money_Value      0.160213
History          0.151454
LOSS_SCORE       0.127064
Loss             0.123924
LOCATION_ID      0.048700
Sector_score    -0.379999
Name: Risk, dtype: float64

In [12]:
audit = strat_train_set.drop("Risk", axis=1)
audit_labels = strat_train_set["Risk"]

## Creating pipeline

In [13]:

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline = Pipeline([
    #     ..... add as many as you want in your pipeline
    ('std_scaler', StandardScaler()),
    
])

In [14]:
audit_num_tr = my_pipeline.fit_transform(audit)

In [15]:
audit_num_tr.shape

(618, 17)

## Selecting a desired model for Audit task

In [16]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

model= DecisionTreeClassifier()
model.fit(audit_num_tr,audit_labels)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').