## TV sales

## EDA

In [1]:
import pandas as pd

In [2]:
sell = pd.read_csv("data2.csv")

In [3]:
sell.head()

       Date Model  Count
0  08/31/16   M45      5
1  08/31/16  M121      3
2  08/31/16  M122      4
3  08/31/16   M91     10
4  08/31/16   M66     57

In [4]:
sell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46116 entries, 0 to 46115
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    46116 non-null  object
 1   Model   46116 non-null  object
 2   Count   46116 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [5]:
sell.describe()

              Count
count  46116.000000
mean      96.690108
std      315.065946
min        1.000000
25%        3.000000
50%       14.000000
75%       67.000000
max     6678.000000

## Cleaning data

## Year need to convert  object to integer

In [6]:
sell["Date"].unique()

array(['08/31/16', '08/30/16', '08/29/16', '08/28/16', '08/27/16',
       '08/26/16', '08/25/16', '08/24/16', '08/23/16', '08/22/16',
       '08/21/16', '08/20/16', '08/19/16', '08/18/16', '08/17/16',
       '08/16/16', '08/15/16', '08/14/16', '08/13/16', '08/12/16',
       '08/11/16', '08/10/16', '08/09/16', '08/08/16', '08/07/16',
       '08/06/16', '08/05/16', '08/04/16', '08/03/16', '08/02/16',
       '08/01/16', '07/31/16', '07/30/16', '07/29/16', '07/28/16',
       '07/27/16', '07/26/16', '07/25/16', '07/24/16', '07/23/16',
       '07/22/16', '07/21/16', '07/20/16', '07/19/16', '07/18/16',
       '07/17/16', '07/16/16', '07/15/16', '07/14/16', '07/13/16',
       '07/12/16', '07/11/16', '07/10/16', '07/09/16', '07/08/16',
       '07/07/16', '07/06/16', '07/05/16', '07/04/16', '07/03/16',
       '07/02/16', '07/01/16', '06/30/16', '06/29/16', '06/28/16',
       '06/27/16', '06/26/16', '06/25/16', '06/24/16', '06/23/16',
       '06/22/16', '06/21/16', '06/20/16', '06/19/16', '06/18/16',
       '06/17/16', '06/16/16', '06/15/16', '06/14/16', '06/13/16',
       '06/12/16', '06/11/16', '06/10/16', '06/09/16', '06/08/16',
       '06/07/16', '06/06/16', '06/05/16', '06/04/16', '06/03/16',
       '06/02/16', '06/01/16', '05/31/16', '05/30/16', '05/29/16',
       '05/28/16', '05/27/16', '05/26/16', '05/25/16', '05/24/16',
       '05/23/16', '05/22/16', '05/21/16', '05/20/16', '05/19/16',
       '05/18/16', '05/17/16', '05/16/16', '05/15/16', '05/14/16',
       '05/13/16', '05/12/16', '05/11/16', '05/10/16', '05/09/16',
       '05/08/16', '05/07/16', '05/06/16', '05/05/16', '05/04/16',
       '05/03/16', '05/02/16', '05/01/16', '04/30/16', '04/29/16',
       '04/28/16', '04/27/16', '04/26/16', '04/25/16', '04/24/16',
       '04/23/16', '04/22/16', '04/21/16', '04/20/16', '04/19/16',
       '04/18/16', '04/17/16', '04/16/16', '04/15/16', '04/14/16',
       '04/13/16', '04/12/16', '04/11/16', '04/10/16', '04/09/16',
       '04/08/16', '04/07/16', '04/06/16', '04/05/16', '04/04/16',
       '04/03/16', '04/02/16', '04/01/16', '03/31/16', '03/30/16',
       '03/29/16', '03/28/16', '03/27/16', '03/26/16', '03/25/16',
       '03/24/16', '03/23/16', '03/22/16', '03/21/16', '03/20/16',
       '03/19/16', '03/18/16', '03/17/16', '03/16/16', '03/15/16',
       '03/14/16', '03/13/16', '03/12/16', '03/11/16', '03/10/16',
       '03/09/16', '03/08/16', '03/07/16', '03/06/16', '03/05/16',
       '03/04/16', '03/03/16', '03/02/16', '03/01/16', '02/29/16',
       '02/28/16', '02/27/16', '02/26/16', '02/25/16', '02/24/16',
       '02/23/16', '02/22/16', '02/21/16', '02/20/16', '02/19/16',
       '02/18/16', '02/17/16', '02/16/16', '02/15/16', '02/14/16',
       '02/13/16', '02/12/16', '02/11/16', '02/10/16', '02/09/16',
       '02/08/16', '02/07/16', '02/06/16', '02/05/16', '02/04/16',
       '02/03/16', '02/02/16', '02/01/16', '01/31/16', '01/30/16',
       '01/29/16', '01/28/16', '01/27/16', '01/26/16', '01/25/16',
       '01/24/16', '01/23/16', '01/22/16', '01/21/16', '01/20/16',
       '01/19/16', '01/18/16', '01/17/16', '01/16/16', '01/15/16',
       '01/14/16', '01/13/16', '01/12/16', '01/11/16', '01/10/16',
       '01/09/16', '01/08/16', '01/07/16', '01/06/16', '01/05/16',
       '01/04/16', '01/03/16', '01/02/16', '01/01/16', '12/31/15',
       '12/30/15', '12/29/15', '12/28/15', '12/27/15', '12/26/15',
       '12/25/15', '12/24/15', '12/23/15', '12/22/15', '12/21/15',
       '12/20/15', '12/19/15', '12/18/15', '12/17/15', '12/16/15',
       '12/15/15', '12/14/15', '12/13/15', '12/12/15', '12/11/15',
       '12/10/15', '12/09/15', '12/08/15', '12/07/15', '12/06/15',
       '12/05/15', '12/04/15', '12/03/15', '12/02/15', '12/01/15',
       '11/30/15', '11/29/15', '11/28/15', '11/27/15', '11/26/15',
       '11/25/15', '11/24/15', '11/23/15', '11/22/15', '11/21/15',
       '11/20/15', '11/19/15', '11/18/15', '11/17/15', '11/16/15',
       '11/15/15', '11/14/15', '11/13/15', '11/12/15', '11/11/15',
       '11/10/15', '11/09/15', '11/08/15', '11/07/15', '11/06/15',
       '11/05/15', '11/04/15', '11/03/15', '11/02/15', '11/01/15',
       '10/31/15', '10/30/15', '10/29/15', '10/28/15', '10/27/15',
       '10/26/15', '10/25/15', '10/24/15', '10/23/15', '10/22/15',
       '10/21/15', '10/20/15', '10/19/15', '10/18/15', '10/17/15',
       '10/16/15', '10/15/15', '10/14/15', '10/13/15', '10/12/15',
       '10/11/15', '10/10/15', '10/09/15', '10/08/15', '10/07/15',
       '10/06/15', '10/05/15', '10/04/15', '10/03/15', '10/02/15',
       '10/01/15', '09/30/15', '09/29/15', '09/28/15', '09/27/15',
       '09/26/15', '09/25/15', '09/24/15', '09/23/15', '09/22/15',
       '09/21/15', '09/20/15', '09/19/15', '09/18/15', '09/17/15',
       '09/16/15', '09/15/15', '09/14/15', '09/13/15', '09/12/15',
       '09/11/15', '09/10/15', '09/09/15', '09/08/15', '09/07/15',
       '09/06/15', '09/05/15', '09/04/15', '09/03/15', '09/02/15',
       '09/01/15', '08/31/15', '08/30/15', '08/29/15', '08/28/15',
       '08/27/15', '08/26/15', '08/25/15', '08/24/15', '08/23/15',
       '08/22/15', '08/21/15', '08/20/15', '08/19/15', '08/18/15',
       '08/17/15', '08/16/15', '08/15/15', '08/14/15', '08/13/15',
       '08/12/15', '08/11/15', '08/10/15', '08/09/15', '08/08/15',
       '08/07/15', '08/06/15', '08/05/15', '08/04/15', '08/03/15',
       '08/02/15', '08/01/15', '07/31/15', '07/30/15', '07/29/15',
       '07/28/15', '07/27/15', '07/26/15', '07/25/15', '07/24/15',
       '07/23/15', '07/22/15', '07/21/15', '07/20/15', '07/19/15',
       '07/18/15', '07/17/15', '07/16/15', '07/15/15', '07/14/15',
       '07/13/15', '07/12/15', '07/11/15', '07/10/15', '07/09/15',
       '07/08/15', '07/07/15', '07/06/15', '07/05/15', '07/04/15',
       '07/03/15', '07/02/15', '07/01/15', '06/30/15', '06/29/15',
       '06/28/15', '06/27/15', '06/26/15', '06/25/15', '06/24/15',
       '06/23/15', '06/22/15', '06/21/15', '06/20/15', '06/19/15',
       '06/18/15', '06/17/15', '06/16/15', '06/15/15', '06/14/15',
       '06/13/15', '06/12/15', '06/11/15', '06/10/15', '06/09/15',
       '06/08/15', '06/07/15', '06/06/15', '06/05/15', '06/04/15',
       '06/03/15', '06/02/15', '06/01/15', '05/31/15', '05/30/15',
       '05/29/15', '05/28/15', '05/27/15', '05/26/15', '05/25/15',
       '05/24/15', '05/23/15', '05/22/15', '05/21/15', '05/20/15',
       '05/19/15', '05/18/15', '05/17/15', '05/16/15', '05/15/15',
       '05/14/15', '05/13/15', '05/12/15', '05/11/15', '05/10/15',
       '05/09/15', '05/08/15', '05/07/15', '05/06/15', '05/05/15',
       '05/04/15', '05/03/15', '05/02/15', '05/01/15', '04/30/15',
       '04/29/15', '04/28/15', '04/27/15', '04/26/15', '04/25/15',
       '04/24/15', '04/23/15', '04/22/15', '04/21/15', '04/20/15',
       '04/19/15', '04/18/15', '04/17/15', '04/16/15', '04/15/15',
       '04/14/15', '04/13/15', '04/12/15', '04/11/15', '04/10/15',
       '04/09/15', '04/08/15', '04/07/15', '04/06/15', '04/05/15',
       '04/04/15', '04/03/15', '04/02/15', '04/01/15', '03/31/15',
       '03/30/15', '03/29/15', '03/28/15', '03/27/15', '03/26/15',
       '03/25/15', '03/24/15', '03/23/15', '03/22/15', '03/21/15',
       '03/20/15', '03/19/15', '03/18/15', '03/17/15', '03/16/15',
       '03/15/15', '03/14/15', '03/13/15', '03/12/15', '03/11/15',
       '03/10/15', '03/09/15', '03/08/15', '03/07/15', '03/06/15',
       '03/05/15', '03/04/15', '03/03/15', '03/02/15', '03/01/15',
       '02/28/15', '02/27/15', '02/26/15', '02/25/15', '02/24/15',
       '02/23/15', '02/22/15', '02/21/15', '02/20/15', '02/19/15',
       '02/18/15', '02/17/15', '02/16/15', '02/15/15', '02/14/15',
       '02/13/15', '02/12/15', '02/11/15', '02/10/15', '02/09/15',
       '02/08/15', '02/07/15', '02/06/15', '02/05/15', '02/04/15',
       '02/03/15', '02/02/15', '02/01/15', '01/31/15', '01/30/15',
       '01/29/15', '01/28/15', '01/27/15', '01/26/15', '01/25/15',
       '01/24/15', '01/23/15', '01/22/15', '01/21/15', '01/20/15',
       '01/19/15', '01/18/15', '01/17/15', '01/16/15', '01/15/15',
       '01/14/15', '01/13/15', '01/12/15', '01/11/15', '01/10/15',
       '01/09/15', '01/08/15', '01/07/15', '01/06/15', '01/05/15',
       '01/04/15', '01/03/15', '01/02/15', '01/01/15', '12/31/14',
       '12/30/14', '12/29/14', '12/28/14', '12/27/14', '12/26/14',
       '12/25/14', '12/24/14', '12/23/14', '12/22/14', '12/21/14',
       '12/20/14', '12/19/14', '12/18/14', '12/17/14', '12/16/14',
       '12/15/14', '12/14/14', '12/13/14', '12/12/14', '12/11/14',
       '12/10/14', '12/09/14', '12/08/14', '12/07/14', '12/06/14',
       '12/05/14', '12/04/14', '12/03/14', '12/02/14', '12/01/14',
       '11/30/14', '11/29/14', '11/28/14', '11/27/14', '11/26/14',
       '11/25/14', '11/24/14', '11/23/14', '11/22/14', '11/21/14',
       '11/20/14', '11/19/14', '11/18/14', '11/17/14', '11/16/14',
       '11/15/14', '11/14/14', '11/13/14', '11/12/14', '11/11/14',
       '11/10/14', '11/09/14', '11/08/14', '11/07/14', '11/06/14',
       '11/05/14', '11/04/14', '11/03/14', '11/02/14', '11/01/14',
       '10/31/14', '10/30/14', '10/29/14', '10/28/14', '10/27/14',
       '10/26/14', '10/25/14', '10/24/14', '10/23/14', '10/22/14',
       '10/21/14', '10/20/14', '10/19/14', '10/18/14', '10/17/14',
       '10/16/14', '10/15/14', '10/14/14', '10/13/14', '10/12/14',
       '10/11/14', '10/10/14', '10/09/14', '10/08/14', '10/07/14',
       '10/06/14', '10/05/14', '10/04/14', '10/03/14', '10/02/14',
       '10/01/14', '09/30/14', '09/29/14', '09/28/14', '09/27/14',
       '09/26/14', '09/25/14', '09/24/14', '09/23/14', '09/22/14',
       '09/21/14', '09/20/14', '09/19/14', '09/18/14', '09/17/14',
       '09/16/14', '09/15/14', '09/14/14', '09/13/14', '09/12/14',
       '09/11/14', '09/10/14', '09/09/14', '09/08/14', '09/07/14',
       '09/06/14', '09/05/14', '09/04/14', '09/03/14', '09/02/14',
       '09/01/14', '08/31/14', '08/30/14', '08/29/14', '08/28/14',
       '08/27/14', '08/26/14', '08/25/14', '08/24/14', '08/23/14',
       '08/22/14', '08/21/14', '08/20/14', '08/19/14', '08/18/14',
       '08/17/14', '08/16/14', '08/15/14', '08/14/14', '08/13/14',
       '08/12/14', '08/11/14', '08/10/14', '08/09/14', '08/08/14',
       '08/07/14', '08/06/14', '08/05/14', '08/04/14', '08/03/14',
       '08/02/14', '08/01/14', '07/31/14', '07/30/14', '07/29/14',
       '07/28/14', '07/27/14', '07/26/14', '07/25/14', '07/24/14',
       '07/23/14', '07/22/14', '07/21/14', '07/20/14', '07/19/14',
       '07/18/14', '07/17/14', '07/16/14', '07/15/14', '07/14/14',
       '07/13/14', '07/12/14', '07/11/14', '07/10/14', '07/09/14',
       '07/08/14', '07/07/14', '07/06/14', '07/05/14', '07/04/14',
       '07/03/14', '07/02/14', '07/01/14', '06/30/14', '06/29/14',
       '06/28/14', '06/27/14', '06/26/14', '06/25/14', '06/24/14',
       '06/23/14', '06/22/14', '06/21/14', '06/20/14', '06/19/14',
       '06/18/14', '06/17/14', '06/16/14', '06/15/14', '06/14/14',
       '06/13/14', '06/12/14', '06/11/14', '06/10/14', '06/09/14',
       '06/08/14', '06/07/14', '06/06/14', '06/05/14', '06/04/14',
       '06/03/14', '06/02/14', '06/01/14', '05/31/14', '05/30/14',
       '05/29/14', '05/28/14', '05/27/14', '05/26/14', '05/25/14',
       '05/24/14', '05/23/14', '05/22/14', '05/21/14', '05/20/14',
       '05/19/14', '05/18/14', '05/17/14', '05/16/14', '05/15/14',
       '05/14/14', '05/13/14', '05/12/14', '05/11/14', '05/10/14',
       '05/09/14', '05/08/14', '05/07/14', '05/06/14', '05/05/14',
       '05/04/14', '05/03/14', '05/02/14', '05/01/14', '04/30/14',
       '04/29/14', '04/28/14', '04/27/14', '04/26/14', '04/25/14',
       '04/24/14', '04/23/14', '04/22/14', '04/21/14', '04/20/14',
       '04/19/14', '04/18/14', '04/17/14', '04/16/14', '04/15/14',
       '04/14/14', '04/13/14', '04/12/14', '04/11/14', '04/10/14',
       '04/09/14', '04/08/14', '04/07/14', '04/06/14', '04/05/14',
       '04/04/14', '04/03/14', '04/02/14', '04/01/14', '03/31/14',
       '03/30/14', '03/29/14', '03/28/14', '03/27/14', '03/26/14',
       '03/25/14', '03/24/14', '03/23/14', '03/22/14', '03/21/14',
       '03/20/14', '03/19/14', '03/18/14', '03/17/14', '03/16/14',
       '03/15/14', '03/14/14', '03/13/14', '03/12/14', '03/11/14',
       '03/10/14', '03/09/14', '03/08/14', '03/07/14', '03/06/14',
       '03/05/14', '03/04/14', '03/03/14', '03/02/14', '03/01/14',
       '02/28/14', '02/27/14', '02/26/14', '02/25/14', '02/24/14',
       '02/23/14', '02/22/14', '02/21/14', '02/20/14', '02/19/14',
       '02/18/14', '02/17/14', '02/16/14', '02/15/14', '02/14/14',
       '02/13/14', '02/12/14', '02/11/14', '02/10/14', '02/09/14',
       '02/08/14', '02/07/14', '02/06/14', '02/05/14', '02/04/14',
       '02/03/14', '02/02/14', '02/01/14', '01/31/14', '01/30/14',
       '01/29/14', '01/28/14', '01/27/14', '01/26/14', '01/25/14',
       '01/24/14', '01/23/14', '01/22/14', '01/21/14', '01/20/14',
       '01/19/14', '01/18/14', '01/17/14', '01/16/14', '01/15/14',
       '01/14/14', '01/13/14', '01/12/14', '01/11/14', '01/10/14',
       '01/09/14', '01/07/14', '01/04/14', '01/03/14', '01/02/14',
       '01/01/14'], dtype=object)

In [7]:
sell["Model"].unique()

array(['M45', 'M121', 'M122', 'M91', 'M66', 'M100', 'M5', 'M14', 'M62',
       'M15', 'M61', 'M82', 'M108', 'M55', 'M43', 'M31', 'M90', 'M96',
       'M69', 'M76', 'M56', 'M92', 'M72', 'M94', 'M8', 'M97', 'M71',
       'M57', 'M107', 'M99', 'M18', 'M30', 'M36', 'M86', 'M13', 'M73',
       'M81', 'M41', 'M79', 'M70', 'M110', 'M95', 'M51', 'M117', 'M22',
       'M10', 'M65', 'M115', 'M75', 'M124', 'M2', 'M42', 'M112', 'M27',
       'M53', 'M60', 'M120', 'M23', 'M4', 'M39', 'M48', 'M32', 'M87',
       'M6', 'M64', 'M68', 'M17', 'M7', 'M24', 'M44', 'M16', 'M77', 'M78',
       'M28', 'M12', 'M1', 'M84', 'M11', 'M25', 'M20', 'M105', 'M88',
       'M109', 'M21', 'M19', 'M40', 'M9', 'M116', 'M50', 'M67', 'M93',
       'M89', 'M63', 'M123', 'M119', 'M49', 'M52', 'M102', 'M85', 'M126',
       'M59', 'M38', 'M103', 'M74', 'M98', 'M37', 'M113', 'M125', 'M104',
       'M26', 'M35', 'M80', 'M127', 'M111', 'M118', 'M101', 'M58', 'M47',
       'M114', 'M54', 'M29', 'M34', 'M33', 'M106'], dtype=object)

In [8]:
sell["Count"].unique()

array([  5,   3,   4, ..., 436, 407, 428], dtype=int64)

In [9]:
sell.corr()

       Count
Count    1.0

In [11]:
sell['Date'].dt.strftime("%m%d%Y").astype(int)

AttributeError: Can only use .dt accessor with datetimelike values